@tailwind base;
@tailwind components;
@tailwind utilities;

.full-body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

body {
  --header-height: 56px
}
.p1, .n-card__action {
  padding: 1rem!important;
}